infra/logic-app/workflow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "notionToken": {
      "type": "SecureString",
      "metadata": {
        "description": "Notion integration token. Set the value in the Logic App's Parameters blade or via Key Vault — never commit it."
      }
    },
    "githubToken": {
      "type": "SecureString",
      "metadata": {
        "description": "GitHub fine-grained PAT with `repository_dispatch:write` scope on every consumer repo."
      }
    },
    "notionVersion": {
      "type": "String",
      "defaultValue": "2026-03-11"
    },
    "dispatchEventType": {
      "type": "String",
      "defaultValue": "notion-changed"
    },
    "repoMapping": {
      "type": "Object",
      "metadata": {
        "description": "Map from a project's rootPageId (Notion Project Home page UUID, dashes stripped, lowercase) to its consumer repo. Add a new entry for each project."
      },
      "defaultValue": {
        "2e03acdc7e9b80379b64da4d5b0f0e2c": {
          "owner": "Volt-Technologies",
          "repo": "Kirsch-International-BC"
        },
        "b593acdc7e9b828eb2488101d81e0a6c": {
          "owner": "Volt-Technologies",
          "repo": "OnwardReserve"
        },
        "edc3acdc7e9b82f0a7f701a88524dedf": {
          "owner": "Volt-Technologies",
          "repo": "RL-Williams-Company"
        },
        "2e03acdc7e9b803fbb58caca75ca4f14": {
          "owner": "Volt-Technologies",
          "repo": "WhiteAndWarren"
        }
      }
    }
  },
  "triggers": {
    "When_Notion_posts_a_webhook": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "verification_token": { "type": "string" },
            "type": { "type": "string" },
            "entity": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "type": { "type": "string" }
              }
            }
          }
        }
      }
    }
  },
  "actions": {
    "Echo_verification_token_if_present": {
      "type": "If",
      "expression": {
        "and": [
          {
            "not": {
              "equals": [
                "@coalesce(triggerBody()?['verification_token'], '')",
                ""
              ]
            }
          }
        ]
      },
      "actions": {
        "Return_verification_token": {
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "headers": { "Content-Type": "application/json" },
            "body": {
              "verification_token": "@triggerBody()?['verification_token']"
            }
          }
        },
        "Terminate_after_verify": {
          "runAfter": { "Return_verification_token": ["Succeeded"] },
          "type": "Terminate",
          "inputs": { "runStatus": "Succeeded" }
        }
      },
      "else": { "actions": {} }
    },
    "Initialize_currentId": {
      "runAfter": { "Echo_verification_token_if_present": ["Succeeded"] },
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "currentId",
            "type": "String",
            "value": "@{toLower(replace(coalesce(triggerBody()?['entity']?['id'], ''), '-', ''))}"
          }
        ]
      }
    },
    "Initialize_currentType": {
      "runAfter": { "Initialize_currentId": ["Succeeded"] },
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "currentType",
            "type": "String",
            "value": "@coalesce(triggerBody()?['entity']?['type'], 'page')"
          }
        ]
      }
    },
    "Initialize_iteration": {
      "runAfter": { "Initialize_currentType": ["Succeeded"] },
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          { "name": "iteration", "type": "Integer", "value": 0 }
        ]
      }
    },
    "Initialize_matched": {
      "runAfter": { "Initialize_iteration": ["Succeeded"] },
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          { "name": "matched", "type": "Boolean", "value": false }
        ]
      }
    },
    "Initialize_matchedRepo": {
      "runAfter": { "Initialize_matched": ["Succeeded"] },
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          { "name": "matchedRepo", "type": "Object", "value": {} }
        ]
      }
    },
    "Walk_up_parent_chain": {
      "runAfter": { "Initialize_matchedRepo": ["Succeeded"] },
      "type": "Until",
      "expression": "@or(variables('matched'), equals(variables('currentId'), ''), greaterOrEquals(variables('iteration'), 10))",
      "limit": {
        "count": 10,
        "timeout": "PT1M"
      },
      "actions": {
        "Check_mapping": {
          "type": "If",
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@coalesce(parameters('repoMapping')?[variables('currentId')], '')",
                    ""
                  ]
                }
              }
            ]
          },
          "actions": {
            "Set_matchedRepo": {
              "type": "SetVariable",
              "inputs": {
                "name": "matchedRepo",
                "value": "@parameters('repoMapping')[variables('currentId')]"
              }
            },
            "Set_matched_true": {
              "runAfter": { "Set_matchedRepo": ["Succeeded"] },
              "type": "SetVariable",
              "inputs": { "name": "matched", "value": true }
            }
          },
          "else": {
            "actions": {
              "Fetch_from_Notion": {
                "type": "Http",
                "inputs": {
                  "method": "GET",
                  "uri": "@{concat('https://api.notion.com/v1/', if(equals(variables('currentType'),'database'),'databases/','pages/'), variables('currentId'))}",
                  "headers": {
                    "Authorization": "@{concat('Bearer ', parameters('notionToken'))}",
                    "Notion-Version": "@parameters('notionVersion')"
                  }
                }
              },
              "Advance_to_parent": {
                "runAfter": { "Fetch_from_Notion": ["Succeeded", "Failed"] },
                "type": "Switch",
                "expression": "@coalesce(body('Fetch_from_Notion')?['parent']?['type'], 'unknown')",
                "cases": {
                  "page_id": {
                    "case": "page_id",
                    "actions": {
                      "Set_to_parent_page": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "currentId",
                          "value": "@{toLower(replace(body('Fetch_from_Notion')['parent']['page_id'], '-', ''))}"
                        }
                      },
                      "Mark_type_page": {
                        "runAfter": { "Set_to_parent_page": ["Succeeded"] },
                        "type": "SetVariable",
                        "inputs": { "name": "currentType", "value": "page" }
                      }
                    }
                  },
                  "database_id": {
                    "case": "database_id",
                    "actions": {
                      "Set_to_parent_database": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "currentId",
                          "value": "@{toLower(replace(body('Fetch_from_Notion')['parent']['database_id'], '-', ''))}"
                        }
                      },
                      "Mark_type_database": {
                        "runAfter": { "Set_to_parent_database": ["Succeeded"] },
                        "type": "SetVariable",
                        "inputs": { "name": "currentType", "value": "database" }
                      }
                    }
                  }
                },
                "default": {
                  "actions": {
                    "Stop_walk": {
                      "type": "SetVariable",
                      "inputs": { "name": "currentId", "value": "" }
                    }
                  }
                }
              },
              "Increment_iteration": {
                "runAfter": { "Advance_to_parent": ["Succeeded"] },
                "type": "IncrementVariable",
                "inputs": { "name": "iteration", "value": 1 }
              }
            }
          }
        }
      }
    },
    "Dispatch_or_ignore": {
      "runAfter": { "Walk_up_parent_chain": ["Succeeded"] },
      "type": "If",
      "expression": {
        "and": [
          { "equals": ["@variables('matched')", true] }
        ]
      },
      "actions": {
        "Dispatch_to_GitHub": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "@{concat('https://api.github.com/repos/', variables('matchedRepo')['owner'], '/', variables('matchedRepo')['repo'], '/dispatches')}",
            "headers": {
              "Authorization": "@{concat('Bearer ', parameters('githubToken'))}",
              "Accept": "application/vnd.github+json",
              "User-Agent": "volt-notion-bridge",
              "X-GitHub-Api-Version": "2022-11-28"
            },
            "body": {
              "event_type": "@parameters('dispatchEventType')",
              "client_payload": {
                "notionEntityId": "@triggerBody()?['entity']?['id']",
                "notionEntityType": "@triggerBody()?['entity']?['type']",
                "notionEventType": "@triggerBody()?['type']",
                "matchedRootId": "@variables('currentId')"
              }
            }
          }
        },
        "Respond_dispatched": {
          "runAfter": { "Dispatch_to_GitHub": ["Succeeded"] },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": {
              "status": "dispatched",
              "repo": "@variables('matchedRepo')",
              "iterations": "@variables('iteration')"
            }
          }
        }
      },
      "else": {
        "actions": {
          "Respond_no_match": {
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 200,
              "body": {
                "status": "no_match",
                "entityId": "@triggerBody()?['entity']?['id']",
                "iterations": "@variables('iteration')"
              }
            }
          }
        }
      }
    }
  },
  "outputs": {}
}
